.page.theme_dark {

  --rec-visibility: visible;

  --bg-color: #000028;
  --txt-color: #F1B2CE;
  --hover: #FF007066;

  --prim-color: #FF0070; /*1*/
  --sec-color: #DB00FF; /*2*/
  --tert-color: #353430; /*3*/

  --bg-image: url('../images/cover-image-dark.png');

  --background-color: var(--bg-color);
  --text-color-transparent: var(--bg-color);
  --titles-text: var(--bg-color);

  --text-color-main: var(--txt-color);

  --border-style-hover: var(--hover);

  --highlight: var(--prim-color);
  --text-color-highlight: var(--prim-color);
  --article-header-color: var(--prim-color);
  --text-shadow: var(--prim-color);
  --corner-color: var(--prim-color);
  --border-style: var(--prim-color);
  --btn-text-color: var(--prim-color);
  --title-question: var(--prim-color);

  --heading-color: var(--sec-color);
  
}

@media (prefers-color-scheme: dark) {
  :root {
      --rec-visibility: visible;

      --bg-color: #000028;
      --txt-color: #F1B2CE;
      --hover: #FF007066;

      --prim-color: #FF0070;
      --sec-color: #DB00FF;
      --tert-color: #353430; /*3*/

      --bg-image: url('../images/cover-image-dark.png');

      --background-color: var(--bg-color);
      --text-color-transparent: var(--bg-color);
      --titles-text: var(--bg-color);
      
      --text-color-main: var(--txt-color);

      --border-style-hover: var(--hover);
      
      --highlight: var(--prim-color);
      --highlighted-area: var(--prim-color);
      --text-color-highlight: var(--prim-color);
      --article-header-color: var(--prim-color);
      --title-question: var(--prim-color);
      --text-shadow: var(--prim-color);
      --corner-color: var(--prim-color);
      --border-style: var(--prim-color);
      --btn-text-color: var(--prim-color);

      --heading-color: var(--sec-color);

  }
}