/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

/*:root.theme-dark {
    сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
/* } */


.theme-dark .page {
  --main-color: #db00ff;
  --background-image: url(../images/cover-image-dark.png);
  --title-color: #000028;
  --display: flex;
  --accent-color: #ff0070;
  --accent-font: "IBM Plex Mono"; 
  --hover-color: #ff007066;
  --title-decor-color: #ff0070;
  --text-color: #f1b2ce;
  --decorated-color: #ff0070;
  --bg-color: #000028;
}

@media (prefers-color-scheme: dark) {
  :root {
  --background-image: url("../images/cover-image-dark.png");
  --accent-color: #ff0070;
  --opacity-color: #ff007066;
  --text-color: #f1b2ce;
  --decor-color: var(--accent-color);
  --background-color: #000028;
  --header-color: #db00ff;
  --heading-color: var(--accent-color);
  --subtitle-color: var(--background-color);
  --is-light: visible;
  --text-color-header: var(--background-color);
  }
}