body {
  font-family: var(--font-family);
  font-size: var(--font-size);
}

.page {
  background-color: var(--background-color);
  min-width: 375px;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* Header */

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
 "top-row"
 "middle-row"
 "bottom-row";
  height: 100vh;
  min-height: 668px;
  color: var(--btn-text-color); /* navbar button colors */
}

.header__theme-menu {
  display: grid;
  grid-area: top-row;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: var(--padding-mobile);
  justify-self: end;
  align-self: center;
  max-height: fit-content;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: none;
  text-align: center;
  color: currentColor;
  font-size: var(--font-size);
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__page-title {
  color: var(--heading-color);
  font-weight: var(--font-weight-bold);
  font-size: var(--title-size);
  text-shadow: 4px 4px 0 var(--text-shadow);
  line-height: var(--line-height-title);
  grid-area: middle-row;
}

.header__title {
  color: var(--titles-text);
  font-weight: 700;
  background: var(--highlight);
  align-self: center;
  justify-self: end;
  grid-area: bottom-row;
}

.header__theme-menu-button:hover {
  outline-offset: 1px;
  border: 1px solid var(--border-style-hover);
}

.header__theme-menu-button_active {
  border: 1px solid currentColor;
  outline-offset: 1px;
  pointer-events: none;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  outline: none;
  border-bottom: 1px solid currentColor;
}

/* Rec  */

.rec-symbol {
  position: absolute;
  display: flex;
  gap: 10px;
  color: var(--highlight);
  top: 1px; /* inset wouldn't work here in this instance because of --padding-desktop and --padding-mobile */
  right: 8px;
  font-size: 18px;
  grid-area: top-row;
  justify-self: end;
  visibility: var(--rec-visibility);
}

.rec-symbol::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--highlight);
  background-color: var(--highlight);
  align-self: center;
  justify-self: center;
}

.rec-frame {
  padding: var(--padding-mobile);
}

.rec-frame::before {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  border-inline-end: 1px solid var(--corner-color);
  border-block-start: 1px solid var(--corner-color);
}

.rec-frame::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--corner-color);
  border-block-end: 1px solid var(--corner-color);
}

/* Main */

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  margin-top: 30px;
  row-gap: var(--padding-mobile);

  a {
      text-decoration: none;
      text-shadow: 1px 1px 0 var(--text-color-highlight);
  }

  a:hover {
      border-bottom: 1px solid currentColor;
  }

  a:focus {
      border: 1px solid currentColor;
      pointer-events: none;
      border-radius: 0;
  }

  a:focus-visible {
      border: 1px solid currentColor;
      border-radius: 0;
      outline: none;
  }
}

/* Titles, texts and paddings for them */
.content-section {
  padding: var(--padding-mobile);
}

.title {
  font-size: var(--font-size);
}

.title__question {
  font-weight: var(--font-weight-bold);
  padding-bottom: 20px;
  line-height: var(--line-height);
  color: var(--title-question);
}

.title__thin {
  font-weight: var(--font-weight-normal);
}

.title__gap {
  margin-bottom: var(--padding-desktop);
}

.article-header {
  color: var(--titles-text); 
  background-color: var(--article-header-color);
}

.article-text {
  padding-top: var(--padding-mobile);
  padding-bottom: var(--padding-desktop);
}

.text-adjustments { /* Maybe should set those in globals.css as p bc all of the ones that need this are p; alongside that couldnt come up with a better name for the tag */
  color: var(--text-color-main);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
}

/* Image board */

.images__list img {
  width: 100%;
  object-fit: cover;
}

.images__list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  row-gap: 10px;
  padding-top: 10px;
}

.images__list_item {
  width: 100%;
}

/* Footer */
.footer {
  margin-top: 30px;
  height: 100vh;
  min-height: 668px;
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
}

.footer__title {
  grid-row: 2;
  justify-self: center;
  font-weight: var(--font-weight-bold);
  color: var(--heading-color);
  text-shadow: 2px 2px 0 var(--text-shadow);
  font-size: var(--title-size);
  line-height: 6.188rem;
}

/* >=767px */
@media (width >= 767px) {
  .page {
      min-width: 768px;
      max-width: 990px;
  }

  /* Header in >=767px */

  .header {
      padding: var(--padding-desktop);
  }

  .header,
  .footer {
      min-height: 1024px;
  }
  
  .header__theme-menu {
    justify-self: end;
    align-self: center;
  }

  .header__page-title {
      margin-left: calc(var(--padding-desktop) * -1);
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
      width: 364px;
  }

  /* Rec in >=767px */

  .rec-frame::before {
      top: 20px;
      right: 20px;
  }

  .rec-frame::after {
      bottom: 20px;
      left: 20px;
  }

  /* Main in >=767px */

  .main {
      margin-top: 50px;
      padding: 0 var(--padding-mobile);
      row-gap: 40px;
  }

  /* Titles in >=767px */

  .content-section {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      column-gap: var(--padding-desktop);
  }

  .title__question {
      min-width: 235px;
  }

  .intro-section {
      .article-container {
          grid-column: 2 / span 3;
      }
  }

  .problem-description {
      .article-container {
          grid-column: 1 / span 3;
      }

      .title__question {
          max-width: 215px;
          grid-column: 1 / span 3;
      }
  }

  .solutions-section {
      .article-container {
          grid-column: 2 / span 3;
      }

      .title__question {
          grid-row: 1 / span 2;
      }

      .title__gap {
          grid-column: 2 / span 3;
      }
  }

  .section-images {
      .article-header {
          grid-column: 1 / span 3;
      }
  }

  /* Image board in >=767px */

  .images__list {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto);
      gap: var(--padding-desktop);
      margin-top: var(--padding-mobile);
  }

  .images__list_item {
      display: grid;
      align-items: stretch;
  }

  .images__list_item:nth-of-type(1) {
      grid-column: 1 / span 2;
      grid-row: 1;
  }

  .images__list_item:nth-of-type(2) {
      grid-column: 3;
      grid-row: 1 / span 2;
  }


  .images__list_item:nth-of-type(3) {
      grid-column: 1;
      grid-row: 2 / span 2;
  }

  .images__list_item:nth-of-type(4) {
      grid-column: 2;
      grid-row: 2;
  }

  .images__list_item:nth-of-type(5) {
      grid-column: 2 / span 2;
      grid-row: 3;
  }

  .images__list_item img {
      height: 100%;
  }

  /* Footer in >=767px */

  .footer {
      margin-top: 50px;
      min-height: 1024px;
      padding: var(--padding-desktop);
  }

  .footer__title {
      line-height: 6.188rem;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* >=1024px */
@media (width >= 1024px) {
  .page {
      max-width: 1600px;
      min-width: 1024px;
  }

  /* Header in >=1024px */

  .header, .footer {
      height: 100vh;
      min-height: 768px;
  }

  .header__theme-menu {
      justify-self: center;
      align-self: start;
  }

  .header__theme-menu-list {
      flex-direction: row;
  }

  .header__page-title {
      line-height: 8.096rem;
      grid-area: middle-row;
      font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
      width: 491px;
  }

  /* Titles in >=1024px */

  .problem-description {
      align-items: start;

      .title__question {
          max-width: 315px;
      }

      .article-container {
          grid-column: auto;
      }
  }

  .article-container {
      display: grid;
  }

  .title__question {
      line-height: 1.35em;
      min-width: 315px;
  }
}