:root {

  --bg-image: url('../images/cover-image.png');
  --hover: #FFFFFF;

  --prim-color: #FFFFFF;

  --line-height: 1.4625rem;
  --line-height-title: 5.98125rem;

  --font-family: 'IBM Plex Mono', monospace, system-ui, -apple-system, sans-serif;
  --font-size: 18px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --title-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);

  --padding-desktop: 20px;
  --padding-mobile: 10px;

  --rec-visibility: hidden;

}
